<h1>Cherries & Pits</h1>
<p>Life can be a bowl of cherries. You get some pits in the middle of your cherries.</p>
<p>Cherries & Pits is a new kind of journal that lets you savor the cherries and toss the pits. Each day, fill in your cherries and pits of the day. Cherries & Pits will save your cherries so you can go back and remember the great stuff. The pits? You don't need to remember those. You'll have more! ;)</p>
<h2>Ready to get started?</h2>
<%= button_to 'Big Friendly Button', cherries_list_path %>
